name: Android_IOS-CI

on:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  build:
    runs-on: macos-latest
    if: contains(github.ref, 'tags')
    steps:
      - uses: actions/checkout@v2
      - name: Branch name
        id: branch_name
        run: |
          echo ::set-output name=SOURCE_NAME::${GITHUB_REF#refs/*/}
          echo ::set-output name=SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}

      - uses: actions/setup-java@v1
        with:
          java-version: '8.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'dev'

      - name: Build apk, ios(simulator)
        run: |
          flutter pub get
          flutter build apk
          flutter build ios --debug --no-codesign --simulator

      - name: Debug
        run: |
          sudo npm install tree-node-cli -g
          treee build

      - name: Prepare release files
        run: |
          cp -r build/ios/Debug-iphonesimulator/Runner.app system_network_proxy_ynu-ios-${{ steps.branch_name.outputs.SOURCE_NAME }}.app
          zip system_network_proxy_ynu-ios-${{ steps.branch_name.outputs.SOURCE_NAME }}.zip -r system_network_proxy_ynu-ios-${{ steps.branch_name.outputs.SOURCE_NAME }}.app
          cp build/app/outputs/apk/release/app-release.apk system_network_proxy_ynu-android-${{ steps.branch_name.outputs.SOURCE_NAME }}.apk

      - uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: system_network_proxy_ynu-ios-${{ steps.branch_name.outputs.SOURCE_NAME }}.zip;system_network_proxy_ynu-android-${{ steps.branch_name.outputs.SOURCE_NAME }}.apk
          tags: true
          draft: false
