name: Linux-CI

on:
  push:
    branches:
      - master
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    if: contains(github.ref, 'tags')
    steps:
      - uses: actions/checkout@v2
      - name: Branch name
        id: branch_name
        run: |
          echo ::set-output name=SOURCE_NAME::${GITHUB_REF#refs/*/}
          echo ::set-output name=SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - uses: actions/setup-java@v1
        with:
          java-version: "8.x"
      - uses: subosito/flutter-action@v1
        with:
          channel: "dev"

      - name: Enable linux support
        run: |
          flutter config --enable-linux-desktop

      - name: Install linux prerequisites
        run: |
          sudo apt-get update -y
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev libblkid-dev
          flutter doctor

      - name: Build linux
        run: |
          flutter pub get
          flutter build linux

      - name: Debug
        run: |
          sudo npm install tree-node-cli -g
          treee build

      - name: Prepare release files
        run: |
          cp -r build/linux/release/bundle system_network_proxy_ynu-linux-${{ steps.branch_name.outputs.SOURCE_NAME }}
          zip system_network_proxy_ynu-linux-${{ steps.branch_name.outputs.SOURCE_NAME }}.zip -r system_network_proxy_ynu-linux-${{ steps.branch_name.outputs.SOURCE_NAME }}

      - uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: system_network_proxy_ynu-linux-${{ steps.branch_name.outputs.SOURCE_NAME }}.zip
          tags: true
          draft: false
